<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/static/style.css">
    <!-- Font Awesome -->
    <link href="/static/fontawesome/fontawesome.css" rel="stylesheet">
    <link href="/static/fontawesome/all.css" rel="stylesheet">
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
    <title>Shared | Uploader</title>
</head>

<body>

    <div class="popup popup--opened">
        <a class="popbg" onclick="popupoff();"></a>
        <div class="popup-content preview-content">
            <!--Preview -->
            <div class="preview-ctrl-bar">
                <p class="popupTitle">Preview File</p>
                <!-- <div class="preview-ctrl-btns">
                    <button class="button preview-ctrl-btn" onclick="downloadFile('{{file.0}}')">Download</button>
                    <button class="button preview-ctrl-btn" onclick="popupoff();">Close</button>
                </div> -->
            </div>
            <div class="preview-content">
                <iframe class="preview-iframe" src="https://fda.sh/"></iframe>
            </div>
        </div>
    </div>

    <div class="page">
        <div class="titlebar">
            <h3 class="title">Shared Files</h3>
            <button class="button login" onclick="location.replace('/login')">
                <i class="fa-solid fa-right-to-bracket"></i>
            </button>
        </div>
        <div class="file-list">
            {% for file in all_files %}
            <div class="file">
                <div class="file-card" onclick="">
                    <div class=" file-name">{{file.0}}</div>
                <div class="file-size">{{file.4}} | {{file.2}} ({{file.5}})</div>
            </div>
        </div>
        {% endfor %}
    </div>
    </div>
</body>
<script>
    function downloadFile(fileName) {
        let url = '/download/' + fileName;
        let a = document.createElement('a');
        a.href = url;
        a.download = fileName;
        a.click();
    };
</script>

</html>