<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="google" content="notranslate">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/static/index.js"></script>
    <link rel="stylesheet" href="/static/style.css">
    <!-- Font Awesome -->
    <link href="/static/fontawesome/fontawesome.css" rel="stylesheet">
    <link href="/static/fontawesome/all.css" rel="stylesheet">
    <!-- sweetalert -->
    <script src="/static/swal/sweetalert2.min.js"></script>
    <link rel="stylesheet" href="/static/swal/sweetalert2.min.css">
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
    <title>Shared | Uploader</title>
</head>

<script>
    let files_list = {};

    $(document).keyup(function (event) {
        if (event.which === 27) {
            previewoff();
            searchclose();
            cancelselect();
        }
    });
</script>

<body>

    <div id="preview-area"></div>

    <div class="page">
        <div class="titlebar">
            <h3 class="title">Shared Files</h3>

            <div class="top-icons">
                <div class="opt-icons">
                    <button class="button top-icon btn-group-left" onclick="searchopen();" title="Search">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                    <button class="button top-icon btn-group-right" onclick="selectfile();" title="Select">
                        <i class="fa-solid fa-bars"></i>
                    </button>
                </div>

                <button class="button top-icon login" id="loginbtn" onclick="location.replace('/auth/login?next=/admin')" title="Login">
                    <i class="fa-solid fa-right-to-bracket" id="loginicon"></i>
                </button>

                <button class="button top-icon top-icon-hide xmark" id="xbtn" onclick="cancelselect();searchclose();"
                    title="Cancel">
                    <i class="fa-solid fa-xmark" id="cancelicon"></i>
                </button>
            </div>

        </div>

        <div class="search" id="search">
            <i class="fa-solid fa-magnifying-glass search-icon"></i>
            <input class="search-input" id="search-input"></input>
            <i class="fa-solid fa-xmark clstext" id="clstext" onclick="clearsearchtext();"></i>
        </div>

        <div class="file-list" id="file-list">
            <p class="no-files">Nothing to show here...</p>
            {% for file in all_files %}
            <div class="file" id="{{loop.index}}" onclick="select('{{loop.index}}')">
                <div class="file-card" id="{{loop.index}}-card" onclick="preview('{{file.name}}')">
                    <div class="file-name" id="{{loop.index}}-name">{{file.name}}</div>
                    <div class="file-size">{{file.sharedate}} | {{file.size}} ({{file.downloads}})</div>
                </div>
            </div>
            <script>
                //filename:loop.index
                files_list["{{file.name}}"] = "{{loop.index}}";
            </script>
            {% endfor %}
        </div>

        <div class="edit-options">
            <p id="edit-options-text"></p>
            <div class="edit-options-buttons">
                <button class="button edit-options-button select-download" id="downloadzip-btn"
                    onclick="downloadMulti();">
                    <p class="download-btn-text" id="download-btn-text">Download</p>
                    <div class="lds-ring" id="download-btn-loading">
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                </button>
            </div>
        </div>

    </div>
</body>

<script type="text/html" id="file-prev">
    <div class="popup" id="preview">
        <a class="popbg" onclick="previewoff();"></a>
        <div class="popup-content preview-content">
            <!--Preview -->
            <div class="preview-ctrl-bar">
                <p class="preview-title">Preview File</p>
                <div class="preview-ctrl-lbtns">
                    <button class="button preview-ctrl-btn" onclick="previewoff();"><i class="fa-sharp fa-solid fa-xmark"></i></button>
                </div>
                <div class="preview-ctrl-rbtns">
                    <button class="button preview-ctrl-btn" onclick="openPreviewInAnotherTab('%filename%')"><i class="fa-solid fa-arrow-up-right-from-square"></i></button>
                    <button class="button preview-ctrl-btn" onclick="downloadFile('%filename%')"><i class="fa-solid fa-download"></i></button>
                </div>
            </div>
            <div class="preview-content">
                %preview-content%
            </div>
        </div>
    </div>
</script>

</html>
