<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{filename}}</title>

  <meta property="og:title" content="{{filename}}">
  <meta property="og:type" content="website">
  <meta property="og:url" content="{{url}}">
  <meta property="og:description" content="Size: {{size}}">
  <meta property="og:image" content="{{content_url}}">

  <script>
    function downloadURL(URL) {
	let a = document.createElement('a');
	a.href = URL;
	a.click();
    }
    function downloadFile(filename) {
	fetch('/api/request/download', {
	    method: "POST",
	    headers: {
		"Content-Type": "application/json;charset=utf-8"
	    },
	    body: JSON.stringify({ files: [filename] })
	})
	.then(response => response.json())
	.then(res => {
	    downloadURL(res[0].url);
	})
	.catch(error => {
	    console.error('Error:', error);
	});
    }
    window.onload = function() {
	downloadFile("{{filename}}");
    };
  </script>
</head>
<body style="background-color: black;">
</body>
</html>
